{% load static %}

<header>
    <!-- <img src="{% static 'img/logo_ptit.png' %}" alt="Logo PTIT"> -->
</header>
<div class="container text-center my-2 d-sm-block d-lg-none">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="{% url 'home' %}" class="btn btn-outline-primary">Home</a>
        <a href="{% url 'all_quiz' %}" class="btn btn-outline-primary">Quiz</a>
        <a href="{% url 'leaderboard' %}" class="btn btn-outline-primary">Leaderboard</a>
        {% if request.session.access_token %}
            <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
        {% endif %}
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-block">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo_ptit.png' %}" alt="Logo PTIT" style="width: 30px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'all_quiz' %}">Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Other
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
                <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Download</a></li>
            </ul>
        </li>
        </ul>
        <form class="d-flex align-items-center w-100" role="search" action="{% url 'search' %}" method="get">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            {% if request.session.access_token %}
                <div class="d-flex align-items-center flex-grow-1 mx-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Avatar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'set-new-password' %}">Reset Password</a></li>
                        </ul>
                    </li>
                    <a href="#" class="user-name text-center bg-light p-2 border rounded flex-grow-1 text-nowrap mb-0">
                        {{ request.session.user.first_name }} {{ request.session.user.last_name }}
                    </a>
                    <a href="{% url 'logout' %}" class="btn btn-primary ms-2">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary ms-2">Login</a>
            {% endif %}
        </form>
    </div>
</div>
</nav>
        
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>